*{
    margin:0;
    padding: 0;
}

body{
    max-width: 100%;
    height:auto;
    display: flex;
    flex-direction: column;
    font-family: 'arial', tahoma, verdana;
}

header{
    display: flex;
    width:100%;
    height: 50px;
    padding-top:15px;
    background:aliceblue;
}

footer{
    width:100%;
    margin-top:15%;
}
