*{
    margin:0;
    padding: 0;
}

a li {
    font-weight: bolder;
}

body{
    max-width: 100%;
    height:auto;
    display: flex;
    flex-direction: column;
    font-family: 'arial', tahoma, verdana;
}

header{
    display: flex;
    width:100%;
    height: 28px;
    padding-top:20px;
    background:black;
    margin-bottom:15px;
    position: fixed;
}

footer{
    width:100%;
    display: flex;
    height: 35px;
    background:black;
    margin-top:25px;
}

section#main-content {
    width: auto;
    margin: 0 auto;
    margin-top: 6%;
}

div.home-page{
    border: 1px solid black;
    border-radius:15px;
    padding: 5px;
    text-align: center;
}


