*{
    margin:0;
    padding: 0;
}

li a{
    font-weight: bolder;
}

body{
    max-width: 100%;
    height:auto;
    display: flex;
    flex-direction: column;
    font-family: 'arial', tahoma, verdana;
}

header{
    display: flex;
    width:100%;
    height: 40px;
    padding-top:10px;
    background:black;
    margin-bottom:15px;
}

footer{
    width:100%;
    margin-top:15%;
}


section#main-content{
    width: auto;
    margin: 0 auto;
}

div.home-page{
    border: 1px solid black;
    border-radius:15px;
    padding: 5px;
    text-align: center;
}

