
.marketplace{
  display:flex;
  flex-direction:row;
  height: auto;
  flex-wrap: wrap;
}

.titulo-inventario{
    width:100%;
    height: auto;
    text-align: center;
}

.marketplace-items{
  display: flex;
  flex-flow:wrap;
  width:732px;
  height:auto;
}

.item-marketplace{
  width:150px;
  margin-left:30px;
  margin-top:14px;
}

.item-marketplace div.item-titulo{
  width:100%;
  height:45px;
  font-size:1em;
  text-align: center;
  font-weight: bold;
}

.item-marketplace:nth-child(n+5){
  padding-top:20px
}

.item-marketplace img{
  width:100%;
  height:150px;
}

.item-marketplace input.quantidade{
  width:100%;
  height:25px;
  font-size:1.2em;
}

button.comprar{
  width:100%;
  height:50px;
  font-size:1.4em;
  border-radius:6px;
  background:url('/static/icons/cart_icon.png') no-repeat center, #1eb421;
}

button.comprar:hover{
  background:url('/static/icons/cart_icon.png') no-repeat center, #1cca1c;
  transition: background .6s;
}

.my-cart{
  width:280px;
  height: 260px;
  position: fixed;
  top: 150px;
  right: 150px;
  overflow: scroll;
  overflow-x:hidden;
}

.cart-list tr td:first-child{
  width: 200px;
}

.cart-list tr td:nth-child(2){
  width: 120px;
}

.item-preco::before{
  content:'R$';
}

.item-preco{
  font-size:1.4em;
  font-weight:bold;
  text-align: center;
}


.finaliza-cart, .remove-itens{
  height: 40px;
  border: 1px black solid;
  border-radius:10px;
  color:white;
  font-weight:bold;
}

.finaliza-cart{
  background-color: #1eb421;
}

.finaliza-cart:hover{
  background-color: #1cca1c;
  transition: background-color .8s;
}

.remove-itens{
  background-color: #d33232;
  margin-top:5px;
}


.remove-itens:hover{
  background-color: red;
  transition: background-color .8s;
}

.total-market p{
  margin-top:10px;
  margin-bottom:10px;
}