
.marketplace{
  display:flex;
  flex-direction:row;
  height: auto;
}

.marketplace-items{
  display: flex;
  flex-flow:wrap;
  width:700px;
  height:auto;
}

.item-marketplace{
  width:170px;
  margin-left:30px;
  padding-top:15px;
}

.item-marketplace div.item-titulo{
  width:100%;
  height:50px;
  font-size:1em;
  text-align: center;
  font-weight: bold;
  margin-top:15px;
}

.item-marketplace img{
  width:100%;
  height:200px;
}
.item-marketplace input.quantidade{
  width:100%;
  height:25px;
  font-size:1.2em;
}
button.comprar{
  width:100%;
  background:green;
  font-size:1.4em;
  border-radius:6px;
}

.my-cart{
  width:240px;
  height: 300px;
  margin-top:15px;
  margin-left:35px;
  overflow: scroll;
}

.cart-list tr td:first-child{
  width: 100px;
}

.cart-list tr td:nth-child(2){
  width: 100px;
}

.cart-list tr td:last-child{
   padding-left: 40px;
}


.item-preco::before{
  content:'R$';
}