nav.main-menu ul{
    list-style: none;
    display: flex;
    width: 100%;
    padding:0;
    margin:0;
    text-align: center;
    position:fixed;
}

.main-menu ul li{
    background: url('/static/icons/plaquinha_icon.png') no-repeat;
    width: 125px;
    height:38px;
    margin-left:70px;
}

.main-menu ul a li:hover {
    background: url('/static/icons/plaquinha_icon.png');
    filter: brightness(77%);
    transition: filter .7s;
}

.main-menu ul a li{
    padding-top:14px;
    color: black;
    text-decoration:none;
    display: block;
}


.main-menu ul a{
    text-decoration:none;
}


/* menu nome do usuario */
.main-menu ul a li:nth-child(2){
    width: 125px;
    overflow: hidden;
    margin-left:70px;
    padding-left:5px;
}
/***************************/

/* footer menu */
nav.footer-menu{
    width:100%;
    display: flex;
    flex-direction: row-reverse;
}
nav.footer-menu ul{
    display: flex;
    list-style: none;
    padding:0;
    margin:0;
    text-align: center;
}

.footer-menu ul a{
    padding-bottom:25px;
    color: white;
    text-decoration:none;
    display: block;
    margin-left:25px;
}

/*******************************/

span.items-menu-count{
    text-align: start;
    font-size: 1.8em;
    overflow: scroll;
}

span.items-menu-count:before{
  content:url('/static/icons/cart_icon.png');

}

/* menu logout usuario */
.login-menu, .signup-menu{
    margin: 0 auto;
}

ul.form-login{
    list-style: none;
    padding:0;
    width:500px;
}

ul.form-login li label{
    margin-top:15px;
    font-size:1em;
    font-weight:bolder;
}

ul.form-login li input{
    width:95%;
    height:40px;
    padding-left:10px;
    border: 1px solid black;
    border-radius:10px;
    background-color:lightgrey;
}


.form-group{
    max-width: 500px;
    margin:0 auto;
}

h1.title-section{
    font-size:2em;
}

.form-group button{
    float:right;
    background:#1eb421;
    color:white;
    width:200px;
    font-size:1.1em;
    padding:10px;
    border-radius:5px;
    border: 1px dotted black;
}

span.helptext{
    font-size:0.8em;
}

.form-group ul.form-login li:last-of-type{
    margin-bottom:20px;
}

.form-group button:hover{
    background-color:lightgreen;
    transition: background-color 1s;
}

.base-homepage ul{
    list-style-type: none;
}


.base-homepage ul li{
    font-size:18px;
    padding-left:25px;
    margin-top:15px;
}

.base-homepage ul li a{
    text-decoration: underline;
    text-decoration-color: rgb(0, 0, 0);
    font-weight: bold;
}


.main-menu ul li.logo{
    background: transparent;
}

.main-menu ul li.logo:hover{
    background: transparent;
    filter: brightness(95%);
}