/* error */

.warning{
    border: 1px solid black;
    border-radius:15px;
    padding: 5px;
    text-align: center;
    display:flex;
    width:85%;
    height: 250px;
    text-align:center;
}

.warning-inside{
    width:70%;
    height: auto;
    padding-top:75px;
}

.omg-warning{
    background:url('/static/icons/404.png');
    background-size: cover;
    background-size: cover;
    width:200px;
    height:240px;
}

.warn-logout{
    width:100%;
    border-color: red;
}

/*login e cadastro*/
ul.errorlist.nonfield{
    list-style: none;
}

ul.errorlist.nonfield li{
    width:50%;
    margin: 0 auto;
}

span.helptext ul{
    list-style-type: none;
    color:darkgreen;
    font-weight: lighter;
}

ul.errorlist{
    width:95%;
    font-size:14px;
    list-style: none;
    font-weight:bold;
    color:#960018;
    background-color:#FF7F7F;
    text-align:center;
    border: 1px solid red;
    border-radius:15px;
}

ul.errorlist li::before{
    content:url('/static/icons/404.png');
    padding-left:10px;
}