/* error */

.warning{
    border-radius:15px;
    padding: 5px;
    text-align: center;
    display:flex;
    width:100%;
    height: 250px;
    text-align:center;
    background: white;
}

.warning-inside{
    width:100%;
    height: auto;
    padding-top:75px;
    font-weight: bold;
}

.warning-inside p, .warning-inside a{
    font-weight: bold;
    font-size:1.3em;
}

.warning-inside a{
    font-size:1.1em;
}

.omg-warning{
    background:url('/static/assets/404.png') ;
    background-size: cover;
    width:250px;
    height:240px;
    animation: pluf 2s;
}

@keyframes pluf{
    from{
        opacity: 0;
    }
    to{
        opacity:1;
    }
}

.warn-logout{
    width:100%;
    border-color: red;
}

/*login e cadastro*/
ul.errorlist.nonfield{
    list-style: none;
}

ul.errorlist.nonfield li:first-child{
    width:300px;
}

span.helptext ul{
    list-style-type: none;
    color:darkgreen;
    font-size:14px;
    font-weight: bolder;
}
li ul.errorlist{
    margin: 0 auto;
    display:block;
}
ul.errorlist{
    width:95%;
    height:118px;
    text-align:center;
    border-radius:15px;
    background:url('/static/assets/404.png') no-repeat #FF7F7F;
    background-size:90px;
}

ul.errorlist li{
    font-size:18px;
    list-style: none;
    color:rgb(184, 0, 0);
    font-weight:bold;
    width: 150px;
    display: inline-block;
    padding-top:10px;
}

ul.errorlist li:first-child{
    width: 170px;
}