<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{%block title%}Index{%endblock%}</title>
</head>
<body>
    {% if user.is_authenticated %}
    <b>Olá <a href="{% url 'perfil' user.id %}">{{ user }}</a></b> | <a href="#">transação</a> , <a href="{% url 'logout' %}">Logout</a>.
        {% else %}
    <nav>
        <ul><li><a href="{% url 'cadastro' %}">Cadastro</a></li>
            <li><a href="{% url 'login' %}">Login</a></li></ul>
    </nav>
    {% endif %}
    {% block content %}
    {% endblock %}
</body>
</html>