{% extends "layout/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/boleto.css' %}"/>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<section class="boletos">
    <div class="boleto-aguarda">
        <h1>Boleto pendente:</h1>
        {% if boletos %}
                <div class="boleto-aguardando">
                {% for boleto in boletos %}
                        {% if boleto.status_boleto is False %}
                        <p>Código do boleto: {{ boleto.codigo_boleto }}</p>
                        <p>Status do boleto: {{ boleto.status_boleto }}</p>
                        <p>Data da transação:</p>
                        {% endif %}
                {% endfor %}
                </div>
            </div>
        <div class="boletos-pagos">
            <h1 class="titulo-aprovado">Ultimos boletos pagos:</h1>
                {% for boleto in boletos %}
                     {% if boleto.status_boleto is True %}
                    <div class="boleto-aprovado">
                        <p>Código do boleto: {{ boleto.codigo_boleto }}</p>
                        <p>Status do boleto: {{ boleto.status_boleto }}</p>
                        <p>Data da transação:</p>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% else %}
        <h1>Nenhuma compra efetuada</h1>
    {% endif %}
{% else %}
<div class="warning">
    Hey você não está logado!
</div>
{% endif %}
</section>
{% endblock %}