{% extends "layout/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/boleto.css' %}"/>
{% endblock %}

{% block title %}
    Boletos/Transações
{% endblock%}

{% block content %}
{% if user.is_authenticated %}
<section class="boletos">
        <span class="titulo-inventario">
                <h1 class="plaquinha">Boletos</h1>
        </span>
    <div class="transaction-boleto">
    <div class="boleto-aguarda">
        <h1>Boleto pendente:</h1>
        <div class="boleto-aguardando">
        {% if boletos_a_pagar %}

                {% for boleto in boletos_a_pagar %}
                    <table class="cada-boleto">
                        <thead>
                            <th>Descrição</th>
                            <th>Informação</th>
                        </thead>
                    <tbody>
                        <tr>
                                <td>Código da transação:</td>
                                <td> {{ boleto.codigo_boleto }}</td>
                        </tr>
                        <tr>
                                <td>Código do boleto:</td>
                                <td>123456 78910111213 1415</td>
                        </tr>
                        <tr>
                                <td>Valor do boleto:</td>
                                <td>R$<span class="valor-boleto">{{ boleto.valor_boleto }}</span></td>
                        </tr>
                        <tr>
                                <td>Status do boleto:</td>
                                <td>Aguardando Pagamento</td>
                        </tr>
                        <tr>
                            <td>Data de expedição:</td>
                            <td>{{ boleto.data_boleto_criado }}</td>
                        </tr>
                        <tr>
                                <td>Data de vencimento:</td>
                                <td>{{ boleto.expiration_boleto_date }}</td>
                        </tr>
                    </tbody>
                    </table>
                {% endfor %}
                <button class="print-boleto">Imprimir boleto</button>
            {% else %}
            <p>Ooops Nenhum boleto em andamento!<br><a href="{% url "marketplace_site" %}">Compre agora!</a></p>
        {% endif %}
        </div>
        
    </div>
        <div class="boletos-pagos">
            <h1 class="titulo-aprovado">Ultimos boletos pagos:</h1>
            {% if boletos_ok %}
                {% for boleto in boletos_ok %}
                    <div class="boleto-aprovado">
                        <p>Código do boleto: {{ boleto.codigo_boleto }}</p>
                        <p style="color:green">Status do boleto: <b>Boleto Pago</b></p>
                        <p>Gerado em {{ boleto.data_boleto_criado }}</p>
                    </div>
                {% endfor %}
            </div>
        {% else %}
        <h1>Nenhuma compra efetuada</h1>
    {% endif %}
{% else %}
    <div class="warning">
        <span class="omg-warning"></span>
        <div class="warning-inside">
            <h1>Você não está logado!</h1>
        </div> 
    </div>
{% endif %}
</div>
</section>
<script type="text/javascript" src="{% static 'js/print_boleto.js' %}"></script>
{% endblock %}