{% extends "layout/base.html" %}

{% block title %}
    Collita Game - Homepage
{% endblock%}

{% block content %}
    {% if user.is_authenticated %}
        <h1>
            Bem vindo {{ request.user }} !
        </h1>
        <div class="base-homepage">
            <ul>
                <li><p>E-commerce e inventário para o jogo Collita!</p></li>
                <li>
                    <a href="{% url 'inventario_user' user.id %}">Seu inventário</a>
                </li>
                <li>
                    <a href="{% url 'marketplace_site' %}">Nosso marketplace para melhorar seu jogo!</a>
                </li>
                <li>
                    <a href="{% url 'boleto_final' %}">Seus boletos pagos, ou pendentes!</a>
                </li>
            </ul>
        </div>
        {% else %}
        <section>
            <div class="base-homepage">
                <h1 style="text-align:center">MageHut Games apresenta Collita!</h1>
                <a href="{{STATIC_URL}}/static/assets/GAME_COLLITA.7z"><button class="download-game">Baixe o Game Agora!</button></a>
                <div class="sub-homepage">
                    <p>O jogo 2D que virou febre no mundo todo!</p>
                    <img src="{{STATIC_URL}}/static/assets/caozinho.png/" width="400" style="margin:0 auto"/>
                </div>
            </div>
        </section>
    {% endif %}

{% endblock %}