{% extends "layout/base.html"%}

{% block title %}
    Login
{% endblock%}

{% block content %}
    {% if user.is_authenticated %}
    <div class="warning">
     <div class="warning-inside">
        <p>Você está autenticado não precisa se logar</p>

            <br>
            <a href="{% url 'inventario_user' user.pk  %}"/>Voltar ao perfil</a>
     </div>
    </div>
    {% else %}
    <div class="form-group">
        <h1 class="title-section">Login</h1>
        <form method='POST'>
            <ul class="form-login">
                {% csrf_token %}
                {{ form.as_ul }}
            </ul>
            <button type="submit">Login</button>
        </form>
    </div>        
    {% endif %}
{% endblock %}

