{% extends "layout/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/marketplace.css' %}"/>
{% endblock css %}

{% block content %}
<div class="marketplace">

    <div class="marketplace-items">
    <p class="warning-red">{{ error }}</p>
    {% if not error %}
        {% if items %}
                {% for item in items %}
                    <div class="item-marketplace">
                        <input type="hidden" name="id_item" value="{{item.item_id}}">
                        <div class="item-titulo">
                            <p>{{ item.item_nome }}</p>
                        </div>
                        <p class="item-preco">{{ item.item_preco }}</p>
                        <img src="http://localhost:8000/media/{{ item.item_img }}" alt="{{ item.item_nome }}" width="80"/>
                        <button class="comprar"><span class="cart-market">Adicionar ao carrinho</span></button>
                    </div>
                {% endfor %}
        {% else %}
            <h1>Nenhum item para compra</h1>
        {% endif %}
        {% else %}
        <a href="/marketplace">Volte para o marketplace</a>
    {% endif %}
    </div>
    <div class="my-cart">
        <table>
            <tbody class="cart-list">   
            </tr>
        </table>
            <div class="total-market">
            </div>
            <a href="{{ request.get_full_path }}"><button class="finaliza-cart">Finalizar Compra</button></a>
            <button class="remove-itens"> Delete Carrinho</button>
        </div>
</div>

    <script type="text/javascript" src="{% static 'js/list_cart.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/add_cart.js' %}"></script>
{% endblock content %}