{% extends "layout/base.html"%}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/cart-market.css' %}">
{% endblock %}

{% block title %}
    Carrinho
{% endblock%}

{% block content %}
    <section class="carrinho">
            <span class="titulo-inventario">
                    <h1 class="plaquinha">Carrinho</h1>
            </span>
    <h1 class="none-cart"></h1>
        <table class="cart-market">
                <thead style="font-weight:bolder">
                    <tr>
                        <td>
                            Id do pedido
                        </td>
                        <td>
                            Nome do item
                        </td>
                        <td>
                            Preço do item
                        </td>
                        <td>
                            Quantidade do Item
                        </td>
                        <td>
                            Excluir Item
                        </td>
                    </tr>
                    </thead>
            <tbody class="carrinho-main">

            </tbody>
            <tfoot class="valor-total">

            </tfoot>
        </table>
    </section>
<script type="text/javascript" src="{% static 'js/main_cart_list.js' %}"></script>
{% endblock content %}
