{% extends "layout/base.html" %}

{% block content %}
    <script type="text/javascript" src="https://stc.sandbox.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.directpayment.js"></script>
    <div class="marketplace-items">
    <p class="warning-red">{{ error }}</p>
    {% if not error %}
        {% if items %}
                {% for item in items %}
                    <div class="item">
                        <h2>{{ item.item_nome }}</h2>
                        <p>{{ item.item_preco }}</p>
                        <img src="http://localhost:8000/media/{{ item.item_img }}" alt="{{ item.item_nome }}"/>
                        <a href="{%  url "checkout" item.item_id %}">Compra</a>
                    </div>
                {% endfor %}
        {% else %}
            <h1>Nenhum item para compra</h1>
        {% endif %}

        {% else %}
        <a href="/marketplace">Volte para o marketplace</a>
    {% endif %}
    </div>


{% endblock content %}