{% extends "layout/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/perfil.css' %}"/>
{% endblock css %}

{% block title %}
    {% for dado in dados %}
    Jogador {{dado.usuario}}
    {% endfor %}
{% endblock%}

{% block content %}

<div class="perfil-usuario">
        <span class="titulo-inventario">
                <h1 class="plaquinha">Status</h1>
        </span>
        <div class="dados-usuario">
            <div class="info-usuario">
                {% for dado in dados %}
                    <ul>
                        <li>Username: {{ dado.usuario }}</li>
                        <li>Nome do jogador: <B>{{dado.usuario.first_name}} {{dado.usuario.last_name}}</B></li>
                        <li>E-mail: {{dado.usuario.email}} </li>
                    </ul>
                {% endfor %}
            </div>
            <div class="boletos-usuario">
                <p style="text-align: center">Ultimo boleto:</p>
                {% if boletos %}
                    <p>Código boleto: {{ boletos.codigo_boleto }}</p>
                    <p>Status: <span class="status-boleto">{{ boletos.status_boleto }}</span></p>
                    {% if boletos.status_boleto is False %}
                        <p>Prazo do pagamento: {{ boletos.expiration_boleto_date }}</p>
                    {% endif%}
                    <a href="{% url 'boleto_final' %}">Todos os boletos</a>
                {% else %}
                    <p style="font-weight: bolder">Nenhum boleto encontrado D:</p>
                {% endif %}
            </div>
        </div>
    <div class="inventario-usuario">
        <span class="titulo-inventario">
            <h1 class="plaquinha">Inventário In-Game</h1>
        </span>
            {% if items %}
                {% for item in items %}
                    <section class="item-inventario">
                        <img src="http://127.0.0.1:8000/media/{{ item.item_img }}" alt="{{item.item_nome}}"/>
                            <div class="nome-powerup">
                                <b>Power-up: {{item.item_nome}}</b>
                            </div>
                        <b>Qtd:</b> x {{item.item_quantidade}}
                    </section>
                {% endfor %}
            {% else %}
                <p>Nenhum power up comprado</p>
            {% endif %}
    </div>
</div>
<script type="text/javascript" src="{% static 'js/profile.js' %}"></script>
{% endblock content %}