{% extends "layout/base.html" %}
{% load static %}


{% block content %}
{% if user.is_superuser %}
<section class="relatorio-gerencial">
    <div class="relatorio-filter">
        <label for="Mês">Selecione mês e ano: </label><input type="month" min="2019-01" required>
        <input type="number" min="1" class="qtd" value="5" placeholder="quantidade"/>
        <button style="width:20%" class="get-relatorio">Filtrar Transações</button>
    </div>
    <section class="root-relatorio"></section>
</section>

<script type="text/javascript" src="{% static 'js/relatorio_transaction.js' %}"></script>
{% else %}

<div class="warning">
    <span class="omg-warning"></span>
        <div class="warning-inside">Oooops!! Você não pode entrar aqui!<br><br><a href="/">Volte para a pagina principal!</a></div>
</div>

{% endif %}
{% endblock content %}


