{% extends "layout/base.html"%}

{% block content %}

{% if user.is_authenticated %}
    <div class="warning">
        <div class="warning-inside">
            <p>Você já está logado!</p>
        </div>
    </div>
{% else %}
    <div class="form-group">
            <span class="titulo-inventario">
                <h1 class="plaquinha">Cadastro</h1>
            </span>
        <ul class="form-login">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_ul }}
                <button type="submit">Cadastro</button>
            </form>
        </ul>
    </div>
{% endif %}
{%endblock%}

